<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212075994330-tnk599bo0fn5hgfjh0n8pmutiuspgcff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212075994330-tnk599bo0fn5hgfjh0n8pmutiuspgcff</string>
	<key>API_KEY</key>
	<string>AIzaSyAsZWCmdbk2e-wBAqq7e5eXnb1kL4avwpo</string>
	<key>GCM_SENDER_ID</key>
	<string>212075994330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arqontacApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-app-a8b2d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-app-a8b2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212075994330:ios:ce6180fe47ab74b5d6d9e3</string>
</dict>
</plist>